<div class="form-message red">
	<div>{{__("Timesheet for the following tasks/designations will be submitted for billing on approval")}}</div>
</div>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th style="width: 15%">{{ __("Designation") }}</th>
			<th style="width: 15%">{{ __("Task") }}</th>
			<th style="width: 10%">{{ __("Task % Complete") }}</th>
			<th style="width: 10%">{{ __("Actual Spend %") }}</th>
			<th style="width: 10%">{{ __("Performance Index %") }}</th>
			<th style="width: 40%">{{ __("Warning") }}</th>
		</tr>
	</thead>

	<tbody>
	{% for(var i=0; i < warnings.length; i++) { %}
		<tr>
			<td class="small">{{ (warnings[i].designation) }}</td>
			<td class="small"> {{ (warnings[i].task) }} </td>
			<td class="small"> {{ (warnings[i].earned) }} </td>
			<td class="small"> {{ (warnings[i].spend) }} </td>
			<td class="small"> {{ (warnings[i].performance) }} </td>
			{% if warnings[i].color_code %}
				<td class="small" style="background-color: {{warnings[i].color_code}}">{{ (warnings[i].warning) }} </td>
		  	{% else %}
				<td class="small"> {{ (warnings[i].warning) }} </td>
		  	{% endif %}
		</tr>
	{% } %}
	</tbody>
</table>
